<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484258674824-ojh8dsc93ev4e8avhc1vnilb2nc0dq5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484258674824-ojh8dsc93ev4e8avhc1vnilb2nc0dq5p</string>
	<key>API_KEY</key>
	<string>AIzaSyC8nt-uJmJ91stQIXnTD7UiKR6M902g3J4</string>
	<key>GCM_SENDER_ID</key>
	<string>484258674824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ofek.Dispatcher</string>
	<key>PROJECT_ID</key>
	<string>dispatcher---prod-44249</string>
	<key>STORAGE_BUCKET</key>
	<string>dispatcher---prod-44249.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484258674824:ios:f0454672fda81e836e473d</string>
</dict>
</plist>